.headerdescendo{
	position:absolute;
	width: 100%;
	height: 20px;
	min-height: 10px;
	opacity: 0;
	-webkit-transition: height 1s , opacity .1s;
	-webkit-transition-timing-function: ease-in-out;
	transition: height 1s, opacity .5s;
	transition-timing-function: ease-in-out;

}
.headerdescendo:hover{
	
	height: 160px;
	opacity: 1;

}
.headerdescendo:img{

	max-width: 100%;
    height: auto;

    -webkit-transition:height 1s;
    transition: height 1s;
}


.headerdescendo p {
	color: white;
	  font-size: 14px;
	  font-weight: 300;
	  line-height: 1.25;
	  margin-bottom: 30px;
	}


.bonecofome{
	float: left;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 6%;
    margin-left: 15%;
    opacity: ;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: example;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   { left:0px; top:2px; }
    25%  { left:0px; top:-2px;}
    50%  { left:0px; top:2px;}
    75%  {left:0px; top:-2px;}
    100% { left:0px; top:2px;}
}

/* Standard syntax */
@keyframes example {
    0%   { left:0px; top:2px;}
    25%  { left:0px; top:-2px;}
    50%  { left:0px; top:2px;}
    75%  {left:0px; top:-2px;}
    100% { left:0px; top:2px;}
}
.bonecofome:img{
	max-width: 100%;
    height: auto;
}
.bonecofome:hover{
	
	opacity: 1;

}


/*--------------------------------------------------------------------------------*/
.fominha1{
	position: absolute;
    margin-top: 1%;
    margin-left: 12%;
}
.fominha2{
	position: absolute;
    margin-top: 2%;
    margin-left: 4%;
}
.fominha3{
	position: absolute;
    margin-top: 7%;
    margin-left: 4%;
}

.fominha{
	float: left;
    width: 40px;
    height: 40px;
    opacity: ;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: example1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: example1;
    animation-duration: .4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

/* Chrome, Safari, Opera */
@-webkit-keyframes example1 {
    0%   { width: 35px; height: 35px; }
    
    50%  { width: 45px; height: 35px; }
   
    100% { width: 35px ;height: 35px; }
}

/* Standard syntax */
@keyframes example1 {
    0%   { width: 35px; height: 35px; }
    
    50%  { width: 45px; height: 45px; }
   
    100% { width: 35px; height: 35px; }
}
.fominha:img{
	max-width: 100%;
    height: auto;
}
.fominha:hover{
	
	opacity: 1;

}

/*-----------------------------------FOME----------------------------------------------*/
.fomepos{
	position: absolute;
    margin-top: 3%;
    margin-left: 8%;
}

.fome{
	float: left;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: fomeani; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: fomeani;
    animation-duration: .3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

/* Chrome, Safari, Opera */
@-webkit-keyframes fomeani {
    0%   { width: 55px; height: 55px; }
    
    50%  { width: 60px; height: 65px; }
   
    100% { width: 55px ;height: 55px; }
}

/* Standard syntax */
@keyframes fomeani {
 	0%   { width: 55px; height: 55px; }
    
    50%  { width: 60px; height: 65px; }
   
    100% { width: 55px ;height: 55px; }
}

.fome:img{
	max-width: 100%;
    height: auto;
}
.fome:hover{
	
	opacity: 1;

}

/*-----------------------------------lampada----------------------------------------------*/

.lampadinha{
	position: absolute;
    margin-top: 3%;
    margin-left: 25%;
}
.lampada{
	background-image: url("imgwtf/lampada.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px ;
	float: left;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: lamp; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: lamp;
    animation-duration: .3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;

   

}

/* Chrome, Safari, Opera */
@-webkit-keyframes lamp {
    0%   {background-image: url("imgwtf/lampada.png")}
    100% { background-image: url("imgwtf/lampada2.png")}
}

/* Standard syntax */
@keyframes lamp {
    0%   {background-image: url("imgwtf/lampada.png")}
    100% { background-image: url("imgwtf/lampada2.png")}
}

.lampada:img{
	max-width: 100%;
    height: auto;
}
.lampada:hover{
	
	opacity: 1;

}

/*-----------------------------------ideia----------------------------------------------*/

.ideia{
	position: absolute;
	margin-top: 4%;
    margin-left: 26%;
}
.bonecoideia{

	float: left;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: ideia; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: ideia;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

/* Chrome, Safari, Opera */
@-ms-keyframes ideia {
	 0%   {rotate(20deg) }
    
    50%  { rotate(0deg) }
   
    100% { rotate(-20deg) }
   
}
@-webkit-keyframes ideia {
	 0%   {-webkit-transform: rotate(15deg); }
    
    50%  { -webkit-transform: rotate(-15deg); }
   
    100% {-webkit-transform: rotate(15deg); }
   
}

/* Standard syntax */
@keyframes ideia {
	 0%   {transform: rotate(15deg); }
    
    50%  { transform: rotate(-15deg); }
   
    100% {transform: rotate(15deg); }
   
}

.bonecoideia:img{
	max-width: 100%;
    height: auto;
}
.bonecoideia:hover{
	
	opacity: 1;

}

/*-----------------------------------click----------------------------------------------*/

.clickpos{
	position: absolute;
	margin-top: 3.5%;
    margin-left: 32%;
}
.click{

	
	float: left;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: clicou; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: clicou;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

@-ms-keyframes clicou {
	 0%   {-ms-transform: scale(.6,.6); }
    
    50%  { -ms-transform: scale(0.5,0.5); }
   
    100% {-ms-transform: scale(.6,.6); }
   
}

@-webkit-keyframes clicou {
	 0%   {-webkit-transform: scale(.6,.6); }
    
    50%  { -webkit-transform: scale(0.5,0.5); }
   
    100% {-webkit-transform: scale(.6,.6); }
   
}

/* Standard syntax */
@keyframes clicou {
	 0%   {-webkit-transform: scale(.6,.6); }
    
    50%  { -webkit-transform: scale(0.5,0.5); }
   
    100% {-webkit-transform: scale(.6,.6); }
   
}

.click:img{
	max-width: 100%;
    height: auto;
}
.click:hover{
	
	opacity: 1;

}

/*-----------------------------------mouse----------------------------------------------*/

.mousepos{
	position: absolute;
	margin-top: 7%;
    margin-left: 34%;
}
.mouse{

	background-size: 20px ;
	float: left;
    width: 30px;
    height: 30px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: mouse; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 1s;
    animation-name: mouse;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

@-ms-keyframes mouse {
	0%   {-ms-transform: rotate(5deg) }
    
    50%  {-ms-transform: rotate(-5deg) }
   
    100% {-ms-transform: rotate(-5deg) }
   
}
@-webkit-keyframes mouse {
	0%   {-webkit-transform: rotate(5deg); }
    
    50%  { -webkit-transform: rotate(-5deg); }
   
    100% {-webkit-transform: rotate(5deg); }
   
}

/* Standard syntax */
@keyframes mouse {
	 0%   {transform: rotate(5deg); }
    
    50%  { transform: rotate(-5deg); }
   
    100% {transform: rotate(5deg); }
   
}

.mouse:img{
	max-width: 100%;
    height: auto;
}
.mouse:hover{
	
	opacity: 1;

}

/*-----------------------------------logo----------------------------------------------*/

.logopos{
	position: absolute;
	margin-top: .5%;
    margin-left: 35%;
}
.logo{

	background-size: 20px ;
	float: left;
    width: 25%;
    height: auto;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: logo; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}


@-webkit-keyframes logo {
	
   
}

/* Standard syntax */
@keyframes logo {
	
}

.logo:img{
	max-width: 100%;
    height: auto;
}
.logo:hover{
	
	opacity: 1;

}


/*-----------------------------------moto----------------------------------------------*/

.motopos{
	position: absolute;
	margin-top: 3%;
    margin-left: 60%;
}
.moto{

	background-size: 20px ;
	float: left;
    width: 7%;
    height: auto;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: moto; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 1s;
    animation-name: moto;
    animation-duration: .1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

@-ms-keyframes moto {
	0%   {-ms-transform: rotate(1deg) }
    
    50%  {-ms-transform: rotate(-1deg) }
   
    100% {-ms-transform: rotate(-1deg) }
   
}
@-webkit-keyframes moto {
	0%   {-webkit-transform: rotate(1deg); }
    
    50%  { -webkit-transform: rotate(-1deg); }
   
    100% {-webkit-transform: rotate(1deg); }
   
}

/* Standard syntax */
@keyframes mouse {
	 0%   {transform: rotate(1deg); }
    
    50%  { transform: rotate(-1deg); }
   
    100% {transform: rotate(1deg); }
   
}

.moto:img{
	max-width: 100%;
    height: auto;
}
.moto:hover{
	
	opacity: 1;

}

/*-----------------------------------bibi----------------------------------------------*/

.bibipos{
	position: absolute;
	margin-top: 3%;
    margin-left: 67%;
}
.bibi{

	
	float: left;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: bibi; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;/* Chrome, Safari, Opera */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: opacity.5s;
    animation-delay: 2s;
    animation-name: bibi;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
   

}

@-ms-keyframes bibi {
	 0%   {-ms-transform: scale(1,1); }
    
    50%  { -ms-transform: scale(0.8,0.8); }
   
    100% {-ms-transform: scale(1,1); }
   
}

@-webkit-keyframes clbibiicou {
	 0%   {-webkit-transform: scale(1,1); }
    
    50%  { -webkit-transform: scale(0.8,0.8); }
   
    100% {-webkit-transform: scale(1,1); }
   
}

/* Standard syntax */
@keyframes bibi {
	 0%   {-webkit-transform: scale(1,1); }
    
    50%  { -webkit-transform: scale(0.8,0.8); }
   
    100% {-webkit-transform: scale(1,1); }
   
}

.bibi:img{
	max-width: 100%;
    height: auto;
}
.bibi:hover{
	
	opacity: 1;

}