.bloco1, .bloco2{
	padding: 8px;

}

.bloco1{
	background-color: #aaa;
}
.bloco2{
	background-color: #ddd;
}
.imagem{
	width: 100px;
	height:100px;
}
.corpo{
	padding-top: 100px; 
}
button{
	margin-top: 10px
}
img{
	height: 130px;
	width: 200px;
	border: 1px solid black;
	margin:20px;
}
i{
	margin: 5px;
}