#panel{
	background-image: url("imgwtf/bg-wtf.png");
	background-position: center;
	position: absolute;
    height: 5px;
    width: 100%;
	
    border: none;
    z-index: auto;

            -webkit-transition:background-image() ;
            transition:background-image();
}

#panel{
	position: absolute;
	background-image: url("imgwtf/bg-wtf.png");
	background-position: center;
	width: 100%;
	height: 25%;
    display: inherit;
    border: none;
     -webkit-transition:background-image() ;
            transition:background-image();
}