body {
    background-color:#babaca;
    color: blue;
}
h1 {
    color: blue;
    font-size: 30;
}
p {
    color: green;
    border: 1px solid powderblue;
    margin: 50px;
}
p.erro{
	color: red;

}

div.head{
	background-color: white;
	text-align: center;
	width: 99%;
	height: 200px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	font-family:cursive;

}
div.logo{
	background-color: false;
	text-align: center;
	width: 15%;
	height: 200px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	font-family:cursive;

}

div.resto{
	background-color: blue;
	text-align: center;
	width: 85%;
	height: 200px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	font-family:cursive;
	margin-left: 203px;
}

div{
	background-color: white;
	text-align: center;
	width: 45%;
	height: 40px;
	position: absolute;
	margin-top: 310px;
	margin-left: 0px;
	font-family:cursive;
}
div.primeira{
	background-color: white;
	text-align: center;
	width: 45%;
	height: 40px;
	position: absolute;
	margin-top: 310px;
	margin-left: 50%;
	font-family:fantasy;


}
img.logo{
	width:100%;
	height:100%;
}
div.menu{

	background-color: red;
	text-align: center;
	width: 15%;
	height: 1200px;
	position: absolute;
	margin-top: 200px;
	margin-left: 0px;
	font-family:cursive;
}
div.corpo{
	background-color: pink;
	text-align: center;
	width: 84%;
	height: 1200px;
	position: absolute;
	margin-top: 200px;
	margin-left: 203px;
	font-family:cursive;
	
}